<div class="center-align">
  <img class="responsive-img" src="<%= showData.artwork_608x342 %>">
   <p class='left-align'><%= showData.overview %></p>
      <% platforms.results.web.episodes.all_sources.map(function(platform){ %>
        <ul>
          <li><%- platform.display_name %> | </li>
        </ul>
      <% }); %>
      <% if (netflix !== -1) { %>
            <%= netflix %>
            <% } %>
 </div>
<div class="like row center-align">
    <form method="POST" action="/favorite">
      <input type="hidden" name="title" value="<%= showData.title %>"/>
      <input type="hidden" name="image" value="<%= showData.artwork_448x252 %>"/>
      <input type="hidden" name="guideboxId" value="<%= showData.id%>"/>  
      <button type="submit" class="waves-effect waves-light btn col s12 m3 l3">Favorite
        </button>
    </form>   
    <form method="POST" action="/favorite/delete">
      <input type="hidden" name="title" value="<%= showData.title %>"/>
      <input type="hidden" name="image" value="<%= showData.artwork_448x252 %>"/>
      <input type="hidden" name="guideboxId" value="<%= showData.id%>"/>  
      <button type="submit" class="waves-effect waves-light btn col s12 m3 l3">Unfavorite
              </button>
    </form>
    <form method="POST" action="/current" >
        <input type="hidden" name="title" value="<%= showData.title %>"/>
        <input type="hidden" name="image" value="<%= showData.artwork_448x252 %>"/>
        <input type="hidden" name="guideboxId" value="<%= showData.id%>"/>  
        <button type="submit" class="waves-effect waves-light btn col s12 m3 l3">Currently Watching
          </button>
    </form>
     <form method="POST" action="/current/delete" >
        <input type="hidden" name="title" value="<%= showData.title %>"/>
        <input type="hidden" name="image" value="<%= showData.artwork_448x252 %>"/>
        <input type="hidden" name="guideboxId" value="<%= showData.id%>"/>  
        <button type="submit" class="waves-effect waves-light btn col s12 m3 l3">Remove from Current
          </button>
    </form>
</div>



