<div class="center-align">
  <h1><%= user.name %></h1>
    <h4> Favorite Shows</h4>
</div>
<div class="carousel">
  <% user.shows.forEach(function(show){%>
    <% if (show.usersShows.favorite) { %>
        <a class="carousel-item" href="/results/show/<%= show.guideboxId %>"><img src="<%= show.image%>"></a>
    <% } %>
  <% }) %>
</div>
<div class="center-align">
    <h4> Current Shows</h4>
</div>
<div class="carousel">
  <% user.shows.forEach(function(show){%>
    <% if (show.usersShows.current) { %>
        <a class="carousel-item" href="/results/show/<%= show.guideboxId %>"><img src="<%= show.image%>"></a>
    <% } %>
  <% }) %>
</div>
<div>
  <div class="row">
    <form method="POST" action="/friend">
      <div class="input-field col s12 m3">
      <input type="hidden" name="name" value="<%= user.name %>"/>
      <input type="hidden" name="id" value="<%= user.id %>"/>
      <button type="submit" class="waves-effect waves-light btn">Friend
        </button>
      </div>
    </form>
</div>
